body {
    margin: 0 auto;
    text-align: center;
}

table {
    margin: 0 auto;
    margin-top: 2em;
}

input[type=submit] {
    background: green;
    color: white;
    height: 3em;
    width: 3em;
    border: 1px solid green;
    border-radius: 0 1em 1em 0;
}

input[type=text] {
    height: 3em;
    width: 40%;
    border-radius: 1em 0 0 1em;
    border: 1px solid green;
    padding-left: 0.5em;
}

td.caption {
    font-size: small;
}

td.formula {
    text-align: center;
}
