body {
    margin: 0 auto;
    text-align: center;
}

table {
    margin: 0 auto;
    margin-top: 2em;
}

input[type=submit] {
    background: green;
    color: white;
    height: 3em;
    width: 3em;
    border: 1px solid green;
    text-align: center;
}

input[type=text] {
    height: 3em;
    width: 40%;
    border: 1px solid green;
    padding-left: 0.5em;
}

p.error {
    color: red;
    text-align: center;
}

table {
    border-collapse: collapse;
}

tr.caption {
    font-size: small;
}

.caption td {
    border-bottom: 1px solid green;
}

tr.formula {
    text-align: center;
}

.formula td {
    padding-top: 0.5em;
}

a.formula {
    color: black;
}
